@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Location>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Location</h2>
    <p>
        <a asp-controller="Location" asp-action="Create">Create</a>
    </p>
    <table class="table">
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Country</th>
            <th>City</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Latitude</td>
                <td>
                    @item.Longitude
                </td>
                <td>
                    @item.Country
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    <a asp-controller="Location" asp-action="Edit" asp-route-latitude="@item.Latitude" asp-route-longitude="@item.Longitude">Edit</a> |
                    <a asp-controller="Location" asp-action="Delete" asp-route-latitude="@item.Latitude" asp-route-longitude="@item.Longitude">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>