@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Rocket>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Rocket</h2>
    <p>
        <a asp-controller="Rocket" asp-action="Create">Добавити</a>
    </p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Cost</th>
            <th>Diameter</th>
            <th>Height</th>
            <th>MassToGTO</th>
            <th>MassToLEO</th>
            <th>EngineType</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Version</td>
                <td>
                    @item.Cost
                </td>
                <td>
                    @item.Diameter
                </td>
                <td>
                    @item.Height
                </td>
                <td>
                    @item.MassToGTO
                </td>
                <td>
                    @item.MassToLEO
                </td>
                <td>
                    @item.EngineType
                </td>
                <td>
                    <a asp-controller="Rocket" asp-action="Edit" asp-route-name="@item.Name" asp-route-version="@item.Version">Save</a> |
                    <a asp-controller="Rocket" asp-action="Delete" asp-route-name="@item.Name" asp-route-version="@item.Version">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>