@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Rocket>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Rocket</h2>
    <p>
        <a asp-controller="Rocket" asp-action="Create">Create</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diameter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MassToLEO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MassToGTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EngineType)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MassToLEO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MassToGTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineType)
                </td>
                <td>
                    <a asp-controller="Rocket" asp-action="Edit" asp-route-name="@item.Name" asp-route-version="@item.Version">Edit</a> |
                    <a asp-controller="Rocket" asp-action="Delete" asp-route-name="@item.Name" asp-route-version="@item.Version">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>