@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Purchase>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Purchase</h2>

    <p>
        <a asp-action="Create">Create</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Resource @Html.DisplayNameFor(model => model.Resources.Name)
                </th>
                <th>
                    Resource @Html.DisplayNameFor(model => model.Resources.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    Mission @Html.DisplayNameFor(model => model.SpaceMission.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resources.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resources.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpaceMission.Name)
                    </td>

                    <td>
                        <a asp-controller="Purchase" asp-action="Edit" asp-route-name="@item.Name" asp-route-cost="@item.Cost">Edit</a> |
                        <a asp-controller="Purchase" asp-action="Delete" asp-route-name="@item.Name" asp-route-cost="@item.Cost">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>