@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Equipment>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Equipment</h2>

    <p>
        <a asp-action="Create">Create</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    Rocket @Html.DisplayNameFor(model => model.Rocket.Name)
                </th>
                <th>
                    Rocket @Html.DisplayNameFor(model => model.Rocket.Version)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rocket.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rocket.Version)
                    </td>
                    <td>
                        <a asp-controller="Equipment" asp-action="Edit" asp-route-name="@item.Name" asp-route-producer="@item.Producer">Edit</a> |
                        <a asp-controller="Equipment" asp-action="Delete" asp-route-name="@item.Name" asp-route-producer="@item.Producer">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>