@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Customer>
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Customer</h2>
    <p>
        <a asp-controller="Customer" asp-action="Create">Create</a>
    </p>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>TotalWorth</th>
            <th>SpaceMissionName</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Name</td>
        <td>
            @item.Country
        </td>
        <td>
            @item.TotalWorth
        </td>
        <td>
            @item.SpaceMissionName
        </td>
        <td>
            <a asp-controller="Customer" asp-action="Edit" asp-route-name="@item.Name" asp-route-country="@item.Country">Edit</a> |
            <a asp-controller="Customer" asp-action="Delete" asp-route-name="@item.Name" asp-route-country="@item.Country">Delete</a>
        </td>
    </tr>
}
    </table>
</div>