@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Cargo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Cargo</h2>
    <p>
        <a asp-controller="Cargo" asp-action="Create">Create</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Emaunt)
                </th>
                <th>
                    Mission @Html.DisplayNameFor(model => model.SpaceMission.Name)
                </th>
                <th>
                    Customer @Html.DisplayNameFor(model => model.Customer.Name)
                </th>
                <th>
                    Customer @Html.DisplayNameFor(model => model.Customer.Country)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emaunt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpaceMission.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Country)
                    </td>
                    <td>
                        <a asp-controller="Cargo" asp-action="Edit" asp-route-name="@item.Name" asp-route-type="@item.Type">Edit</a> |
                        <a asp-controller="Cargo" asp-action="Delete" asp-route-name="@item.Name" asp-route-type="@item.Type">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>