@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RocketSite.Common.Models.Resources>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Resources</h2>
    <p>
        <a asp-controller="Resources" asp-action="Create">Добавити</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Emaunt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    Space mission @Html.DisplayNameFor(model => model.SpaceMission.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emaunt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpaceMission.Name)
                </td>
                <td>
                    <a asp-controller="Resources" asp-action="Edit" asp-route-name="@item.Name" asp-route-type="@item.Type">Edit</a> |
                    <a asp-controller="Resources" asp-action="Delete" asp-route-name="@item.Name" asp-route-type="@item.Type">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>